
.divtop{
    border-bottom: solid 1px rgb(229, 229, 229) ;
    padding-bottom: 15px;
}
.pinktopofpage{
    height: 2%;
    font-size: 13px;
    border-top: solid 3px #DF95EF;
}
.pinktext{
    background-color: #DF95EF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75%;
    padding-bottom: 4px;
    padding-left: 10px;
    color: white;
}
.centre-texte-moncompte{
    display: flex;
    text-align: center;
}
.bigicon{
    font-size:25px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: blue;
}

.flexboxdiv{
    display: flex;
}
.toplefttextsize{
    font-size: 10px;
    text-align: center;
}
.firstrow{
    padding-top: 10px;
}
.link-text-color{
    color: black !important;
}
a{
    text-decoration: none !important;
}
.bluetextthick{
    font-weight: 900 !important;
    color: #0872BF !important;
    text-align: center;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 400;}
.bluetextthick:hover {
    color: rgb(230, 133, 245) !important;
    transition-property: all;
    transition-duration: 0.2s;
}
.bluebg {
    background-color: #78D6FF;
    padding-bottom: 10px;
    color: white;
    font-family: montserrat;
    font-size: 12px;
}
.textcenter{
    text-align: center;
}
.textend{
    text-align: end;
}
.bluethingpaddging {
    padding: 0px !important;
    margin-left: 0px !important;
    width: 90000px !important;
    background-color: #78D6FF !important;
    border-right: solid #78D6FF 200px !important;
}
.textpaddingblue{
    padding-top: 10px;
    font-family: montserrat;
    font-weight: 700;
}
.blackicon{
    color: black;
    padding-right: 8px;
}
.nolinkdecorations {
    text-decoration: none !important;
    color: white !important;
}
.nolinkdecorations:hover {
    text-decoration: underline white !important; 
}
.imgcntrd{
    text-align: center;
    padding-top: 40px;
}
.cakestop{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: montserrat;
    font-weight: 900;
    font-size: 30px;
    color: #0872BF;
    text-shadow: -1px 0 #0872BF, 0 1px ;
    margin-bottom: 20px;
}
.imagelarge{
    padding-right: 20px;
}
.imagessmall{
    left: 10%;
}
.box-shadow-img{
    box-shadow: rgba(0, 0, 0, 0.4) 5px 0px 3px, rgba(53, 53, 53, 0.3) 10px 5px 3px, rgba(79, 79, 79, 0.2) 15px 10px 3px, rgba(105, 105, 105, 0.1) 20px 15px 3px, rgba(155, 154, 154, 0.05) 25px 20px 3px;box-shadow: rgba(208, 208, 208, 0.4) 5px 0px 10px, rgba(201, 201, 201, 0.3) 10px 5px 10px, rgba(193, 193, 193, 0.2) 10px 15px 10px, rgba(227, 227, 227, 0.1) 20px 15px 10px, rgba(232, 232, 232, 0.05) 25px 20px 10px;
}

.bakestop {
    color: #78D6FF;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: montserrat;
    font-weight: 900;
    font-size: 30px;
    text-shadow: -1px 0 #78D6FF #78D6FF, 0 1px ;
    margin-bottom: 20px;
}

.partystop {
    color: #DF95EF;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: montserrat;
    font-weight: 900;
    font-size: 30px;
    text-shadow: -1px 0 #DF95EF #DF95EF, 0 1px ;
    margin-bottom: 20px;
}
.Qui{
    text-align: center;
    font-size: 35px;
    color: #0872BF;
    font-family: montserrat;
    font-weight: 700;
}
.hoversaturate{
    transition-duration: 500ms;
}
.hoversaturate:hover{
    filter: opacity(70%);
    transition-delay: 5ms;
    transition-duration: 500ms;
}
.footer{
    background-color: #E2F8FF;
}
.pinkfootercolor{
    color: #DF95EF;
    font-size: 16px;
    font-weight: 700;
    font-family: montserrat;
}
.email{
    width: 440px !important;
    padding-left: 20px;
    margin-top: 20px !important;
}
.youremailbox{
    border: none;
    font-family: sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 6px;
    border-top-style: hidden;
    border-top-style: hidden;
    border-top-style: hidden;
    border-bottom-style: hidden;
    padding-bottom: 4px;
}
.youremailbox:focus {
    outline: none;
}
.buttonyouremail{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #DF95EF;
    font-family: montserrat;
    font-weight: 700;
    color: white;
}
.margincols{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.paddingfooter{
    padding-bottom: 20px;
    padding-top: 15px;
}
.paddingless{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.bottomlinetext{
    color: #0872BF;
    font-family: montserrat;
    font-weight: 900;
    border-bottom: solid 2px #D8D8D8;
}
.bottomlinelittletext{
    color: black !important;
    font-size: 14px;
    text-decoration: none !important;
    padding-bottom: 1px ;
}
.bottomlinelittletext:hover{
    border-bottom: solid 1px black;
}
.thepaddinglittle{
    padding-top: 6px;
}
.underfooter{
    padding-top: 20px !important;
}
.pinkfinal {
    background-color: #DF95EF;
    color: white;
    padding-top: 30px;
    padding-bottom: 35px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    margin-top: 20px;
}
.tiktokicons{
    margin-top: 20px !important;
}